<footer class="footer">
	<small>
		Wow a snake.
	</small>
	<div class="footer_nav">
		<ul>	
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
	
</footer>